In [85]:
import pandas as pd

In [86]:
df=pd.read_csv('Social_Network_Ads.csv')

In [148]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [88]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [89]:
df['Gender'].replace({'Male':0, 'Female':1}, inplace=True)

/tmp/ipykernel_22036/3683457849.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].replace({'Male':0, 'Female':1}, inplace=True)
/tmp/ipykernel_22036/3683457849.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'].replace({'Male':0, 'Female':1}, inplace=True)

In [90]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       0   19            19000          0
1    15810944       0   35            20000          0
2    15668575       1   26            43000          0
3    15603246       1   27            57000          0
4    15804002       0   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       1   46            41000          1
396  15706071       0   51            23000          1
397  15654296       1   50            20000          1
398  15755018       0   36            33000          0
399  15594041       1   49            36000          1

[400 rows x 5 columns]

In [91]:
df.describe()

            User ID      Gender         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000  400.000000       400.000000  400.000000
mean   1.569154e+07    0.510000   37.655000     69742.500000    0.357500
std    7.165832e+04    0.500526   10.482877     34096.960282    0.479864
min    1.556669e+07    0.000000   18.000000     15000.000000    0.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000    0.000000
50%    1.569434e+07    1.000000   37.000000     70000.000000    0.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000    1.000000
max    1.581524e+07    1.000000   60.000000    150000.000000    1.000000

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    int64
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(5)
memory usage: 15.8 KB

In [93]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [108]:
x=df[['Age', 'EstimatedSalary']]

In [109]:
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [110]:
y=df['Purchased']

In [111]:
y.unique()

array([0, 1])

In [113]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=45)

In [114]:
x_train

     Age  EstimatedSalary
327   42            75000
0     19            19000
375   46            32000
335   36            54000
221   35            91000
..   ...              ...
213   35            58000
95    35            44000
32    21            16000
380   42            64000
131   33            31000

[300 rows x 2 columns]

In [115]:
x_test

     Age  EstimatedSalary
255   52            90000
346   53            72000
228   40            72000
384   57            33000
269   40            61000
..   ...              ...
46    25            79000
300   58            38000
91    30           116000
118   40            59000
47    27            54000

[100 rows x 2 columns]

In [118]:
y_train

327    0
0      0
375    1
335    0
221    1
      ..
213    0
95     0
32     0
380    0
131    0
Name: Purchased, Length: 300, dtype: int64

In [119]:
y_test

255    1
346    1
228    0
384    1
269    0
      ..
46     0
300    1
91     0
118    0
47     0
Name: Purchased, Length: 100, dtype: int64

In [149]:
model=LogisticRegression()

In [150]:
model.fit(x_train, y_train)

LogisticRegression()

In [151]:
y_pred=model.predict(x_test)

In [152]:
y_pred

array([1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0])

In [153]:
model.score(x_train, y_train)

0.8333333333333334

In [154]:
model.score(x_test, y_test)

0.86

In [155]:
model.score(x, y)

0.84

In [163]:
cm=confusion_matrix(y_test, y_pred)

In [167]:
cm

array([[59,  3],
       [11, 27]])

In [168]:
tn, fp, fn, tp=confusion_matrix(y_test, y_pred).ravel()

In [169]:
print(tn, fp, fn, tp)

59 3 11 27

In [170]:
accuracy_score(y_test, y_pred)

0.86

In [171]:
precision_score(y_test, y_pred)

0.9

In [172]:
recall_score(y_test, y_pred)

0.7105263157894737